<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="./add.html">Add</a>

    <div class="show-items-wrapper">
      <div class="">
        <ul class="show-item-coloums">
          <li class="">Title</li>
          <li class="">Description</li>
          <li class="">Target Date</li>
        </ul>
      </div>

      <div id="items-container">
        <!-- items go in here -->
      </div>
    </div>
    <script src="./JS/itemController.js"></script>
    <script src="./JS/itemListning.js"></script>
  </body>
</html>
